@import "tailwindcss";

@font-face {
    font-family: "comic";
    src: url("assets/AnimeAce20BbItalic-vlA.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-comic: "comic", "serif";
    --color-koku-purple: #76418c;
    --color-koku-dark-purple: #371645;
}

th,
td {
    border: black solid 3px;
    padding: 0.5rem;
}
